{% extends 'public/base.html' %}
{% block title %}Órdenes de Trabajo{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <div>
      <h3 class="fw-bold">Órdenes de Trabajo</h3>
      <p class="text-muted mb-0">Seguimiento de órdenes activas, pendientes y finalizadas</p>
    </div>
    <!-- filtro desplegable -->
    <div class="mb-3">
      <form method="get">
        <select name="estado" class="form-select shadow-sm" style="width: 200px;" onchange="this.form.submit()">
          <!-- Dinámicamente muestra la selección actual -->
          {% if not request.GET.estado %}
            <option value="" selected>Todos los registros</option>
          {% else %}
            <option value="">Todos los registros</option>
          {% endif %}
          <option value="P" {% if request.GET.estado == 'P' %}selected{% endif %}>Pendientes</option>
          <option value="E" {% if request.GET.estado == 'E' %}selected{% endif %}>En Proceso</option>
          <option value="T" {% if request.GET.estado == 'T' %}selected{% endif %}>Terminadas</option>
          <option value="C" {% if request.GET.estado == 'C' %}selected{% endif %}>Canceladas</option>
        </select>
      </form>
    </div>
    <a href="{% url 'nueva_orden' %}" class="btn btn-danger"><i class="bi bi-plus-circle me-2"></i>Nueva Orden</a>
  </div>
  <style>
    .estado{
      color: #ffffff;
      padding: 5px;
      border-radius: 5px;
      font-weight: bold;
    }
    .estado-pendiente {
      background-color: orange;
    }
    .estado-proceso { background-color: blue; }
    .estado-terminado { background-color: green; }
    .estado-cancelado { background-color: red; }
  </style>
  <div class="card shadow-sm border-0">
    <div class="card-body">
      <div class="table-responsive overflow-auto cont_tablas">
        <table class="table table-hover align-middle mb-0">
          <thead class="table-light">
            <tr>
              <th><i class="bi bi-hash"></i> No. Orden</th>
              <th><i class="bi bi-person-fill"></i> Cliente</th>
              <th><i class="bi bi-car-front"></i> Vehículo</th>
              <th><i class="bi bi-calendar-event"></i> Entrega</th>
              <th><i class="bi bi-check2-circle"></i> Estado</th>
              <th><i class="bi bi-gear-fill"></i> Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for orden in ordenes %}
              <tr data-url="{% url 'ver_orden' orden.id_orden %}" class=" clickable-row">
                <td>{{ orden.id_orden|stringformat:"05d" }}</td>
                <td>{{ orden.id_vehiculo.cliente }}</td>
                <td>{{ orden.id_vehiculo}}</td>
                <td>{{ orden.entrega_estimada}}</td>
                <td>
                  <span class="estado
                    {% if orden.estado == 'P' %}estado-pendiente
                    {% elif orden.estado == 'E' %}estado-proceso
                    {% elif orden.estado == 'T' %}estado-terminado
                    {% else %}estado-cancelado{% endif %}">
                  {{ orden.get_estado_display }}
                  </span>
                </td>
                <td>
                  <!-- Botom de Editar -->
                  <a href="{% url 'editar_orden' orden.id_orden %}" class="btn btn-sm btn-outline-primary"><i class="bi bi-pencil-square"></i></a>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="5" class="text-center">No hay ordenes registradas.</td>
              </tr>
            {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
