{% extends 'public/base.html' %}
{% block title %}Agregar Vehículo{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <div>
      <h3 class="fw-bold">Agregar Vehículo</h3>
      <p class="text-muted mb-0">Completa los datos del vehículo</p>
    </div>
    <a href="{% url 'vehiculos' %}" class="btn btn-outline-primary">
      <i class="bi bi-arrow-left me-2"></i>Regresar
    </a>
  </div>

  <div class="card shadow-sm border-0">
    <div class="card-body">
      <form method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
              <div class="row g-3">
                {% for field in form %}
                  <div class="col-md-6">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label> 
                    <!-- Label que se toma de forms.py -->
                    {{ field }}
                    {% if field.errors %}
                      <!-- Mensaje de error (Validación) -->
                      <div class="text-danger">{{ field.errors|striptags }}</div>
                    {% endif %}
                  </div>
                {% endfor %}
              </div>
        <div class="mt-4 d-flex justify-content-end">
          <button type="submit" class="btn btn-success">
            <i class="bi bi-save me-2"></i>Guardar Vehículo
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
