{% extends 'public/base.html' %}
{% block title %}Vehículos{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <div>
      <h3 class="fw-bold">Vehículos</h3>
      <p class="text-muted mb-0">Registro y seguimiento de vehículos de clientes</p>
    </div>
    <form class="d-flex" method="get" action="{% url 'vehiculos' %}">
          <input class="form-control me-2" type="search" name="busca_vehiculo" placeholder="Buscar..." aria-label="Buscar" value="{{ query|default:'' }}">
          {% if query %}
            <a class="btn btn-danger" href="{% url 'vehiculos' %}"> <i class="bi bi-x-lg"></i></a>
          {% else %}
            <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i></button>
          {% endif %}
      </form>
    <a href="{% url 'agregar_vehiculo' %}" class="btn btn-success"><i class="bi bi-plus-circle me-2"></i>Agregar Vehículo</a>
  </div>

  <div class="card shadow-sm border-0">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover align-middle mb-0">
          <thead class="table-light">
            <tr>
              <th><i class="bi bi-car-front-fill"></i> Placa</th>
              <th><i class="bi bi-person-fill"></i> Cliente</th>
              <th><i class="bi bi-truck-front"></i> Modelo</th>
              <th><i class="bi bi-calendar-event-fill"></i> Año</th>
              <th><i class="bi bi-gear-fill"></i> Acciones</th>
            </tr>
          </thead>
           <tbody>
            {% for vehiculo in vehiculos %}
              <tr>
                <td>{{ vehiculo.placas }}</td>
                <td>{{ vehiculo.cliente }}</td>
                <td>{{ vehiculo.modelo }}</td>
                <td>{{ vehiculo.anio }}</td>
                <td>
                  <!-- Botom de Ver -->
                  <a href="{% url 'ver_vehiculo' vehiculo.id_vehiculo %}" class="btn btn-sm btn-outline-success"><i class="bi bi-eye"></i></a>
                  <!-- Botom de Editar -->
                  <a href="{% url 'editar_vehiculo' vehiculo.id_vehiculo %}" class="btn btn-sm btn-outline-primary"><i class="bi bi-pencil-square"></i></a>
                  <!-- Botón de eliminar -->
                  <form id="form-eliminar-{{ vehiuclo.id_vehiculo }}" method="POST" action="{% url 'eliminar_vehiculo' %}" style="display: inline;">
                      {% csrf_token %}
                      <input type="hidden" name="id_vehiculo" value="{{ vehiculo.id_vehiculo }}">
                      <button type="button" 
                              class="btn btn-sm btn-outline-danger"
                              onclick="confirmarEliminacion(
                                  {{ vehiculo.id_vehiculo }}, 
                                  '{{ vehiculo.marca|escapejs }}', 
                                  'vehiculo'
                              )">
                          <i class="bi bi-trash"></i>
                      </button>
                  </form>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="5" class="text-center">No hay vehículos registrados.</td>
              </tr>
            {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
