{% extends 'public/base.html' %}
<!-- titulo de la página -->
{% block title %}Agregar Producto{% endblock %}

<!-- Bloque de contenido -->
{% block content %}
<div class="container-fluid">
  <!-- Encabezado -->
    <div class="d-flex align-items-center mb-4">
      <a href="{% url 'inventario' %}" class="btn regresar"><i class="bi bi-arrow-left-circle-fill"></i></a>
        <div>
          <h3 class="fw-bold">Agregar Producto</h3>
          <p class="text-muted mb-0">Ingrese un nuevo producto al inventario</p>
        </div>
    </div>
    <!-- Formulario -->
    <div class="card shadow-sm border-0">
        <div class="card-body">
          <form method="POST" novalidate>
              {% csrf_token %}
              {{ form.non_field_errors }}
              <div class="row g-3">
                {% for field in form %}
                  <div class="col-md-6">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label> 
                    <!-- Label que se toma de forms.py -->
                    {{ field }}
                    {% if field.errors %}
                      <!-- Mensaje de error (Validación) -->
                      <div class="text-danger">{{ field.errors|striptags }}</div>
                    {% endif %}
                  </div>
                {% endfor %}
              </div>
              <div class="mt-4 d-flex justify-content-between">
                <!-- Botón para abrir el modal -->
                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modalCargarExcel">
                  <i class="bi bi-upload"></i> Cargar un Archivo
                </button>
                <button type="submit" class="btn btn-success">
                  <i class="bi bi-save me-2"></i>Guardar Producto
                </button>
              </div>
          </form>
          <!-- Modal -->
<div class="modal fade" id="modalCargarExcel" tabindex="-1" aria-labelledby="modalCargarExcelLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form method="POST" action="{% url 'cargar_excel' %}" enctype="multipart/form-data" class="modal-content">
      {% csrf_token %}
      <div class="modal-header">
        <h5 class="modal-title" id="modalCargarExcelLabel">Importar desde Excel</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <p>Selecciona un archivo Excel (.xlsx)</p>
        <input type="file" name="archivo" accept=".xlsx" class="form-control" required>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">
          <i class="bi bi-upload"></i> Subir archivo
        </button>
      </div>
    </form>
  </div>
</div>
        </div>
    </div>
</div>
{% endblock %}
